In [2]:
import pandas as pd

df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

1. 데이터 구조 파악
2. 결측치 확인
3. 이상치/오류 데이터 탐색
4. 데이터 타입 확인 및 변환 
5. 중복데이터 확인 및 제거
6. 기본 통계치 확인
7. 컬럼별 값의 분포 확인
8. 데이터이 목적에 맞는 정제/필터링

컬럼별 설명
customerID: 고객 식별번호 (고유값)

gender: 성별 (Male/남, Female/여)

SeniorCitizen: 시니어(고령) 고객 여부 (0: 일반, 1: 시니어)

Partner: 배우자 유무 (Yes/No)

Dependents: 부양가족 유무 (Yes/No)

tenure: 서비스 이용 개월 수 (가입 기간)

PhoneService: 전화 서비스 가입 여부 (Yes/No)

MultipleLines: 여러 회선(전화) 사용 여부 (Yes/No/No phone service)

InternetService: 인터넷 서비스 종류 (DSL, Fiber optic, No)

OnlineSecurity: 온라인 보안 서비스 가입 여부 (Yes/No/No internet service)

OnlineBackup: 온라인 백업 서비스 가입 여부 (Yes/No/No internet service)

DeviceProtection: 디바이스 보호 서비스 가입 여부 (Yes/No/No internet service)

TechSupport: 기술지원 서비스 가입 여부 (Yes/No/No internet service)

StreamingTV: TV 스트리밍 서비스 이용 여부 (Yes/No/No internet service)

StreamingMovies: 영화 스트리밍 서비스 이용 여부 (Yes/No/No internet service)

Contract: 계약 형태 (Month-to-month: 월 단위, One year: 1년 계약, Two year: 2년 계약)

PaperlessBilling: 전자 청구서 이용 여부 (Yes/No)

PaymentMethod: 결제 방법 (Bank transfer, Credit card, 전자수표 등)

MonthlyCharges: 월 청구 금액

TotalCharges: 총 청구 금액

Churn: 이탈 여부 (Yes: 서비스 해지, No: 계속 이용)

In [ ]:
df.info()
# null 값 없음
# 수치형 데이터 늙은 사람(0-일반, 1노인)/ 서비스 이용개월 수 / 월요금
# 행 7043 열 21개

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [8]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [ ]:
df[c'number']

In [ ]:
# null 값 없음
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [15]:
print(df.info())
print(df.isnull().sum())
print(df.describe())
print(df['SeniorCitizen'].value_counts())
df = df.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64
       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000
SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64

In [ ]:
#